---
import BaseLayout from "../layouts/BaseLayout.astro";
import TimeLineElement from "../components/cv/TimeLine.astro";

---

<BaseLayout title="Resume" sideBarActiveItemID="cv">

  <div class="mb-5">
    <div class="font-preigohead text-3xl w-full font-bold">Education</div>
  </div>

  <div class="time-line-container grid gap-4 mb-10">
    <TimeLineElement
      title="Bachelor of Technology in Computer Science and Engineering"
      subtitle="2020 to 2024 at CMR Institute of Technology, Medchal, Hyderabad"
    />
    <TimeLineElement
      title="PCM"
      subtitle="2018 to 2020 at Narayana Junior College, Secunderabad, Telangana"
    />
  </div>

  <div class="mb-5">
    <div class="font-preigohead text-3xl w-full font-bold">Experience</div>
  </div>

  <div class="time-line-container mb-10">
    <TimeLineElement
      title="DigiQuanta, Full Stack Developer"
      subtitle="From January 2023 to August 2023"
    >
    Led the revamping of the PARI website using React JS and Tailwind CSS, creating a modern and user friendly interface. Additionally, I efficiently migrated over 120 pages of content from Wagtail to Strapi, enabling better content management and flexibility. Throughout the process, I successfully addressed various backend glitches, ensuring smooth functionality and data security for the website.
    </TimeLineElement>


    <TimeLineElement
      title="Swecha Telangana, Glug Core Member"
      subtitle="From May 2022 to Present"
    >
    Developed a conference website, serving as the central hub for information,
    registration, and updates, contributing to the success of the ICDE-ACT Conference
    2023.Representing my college and leading the Free Software Movement of India in 15+
    colleges.Supervised the development of the REDI-HACKATHON website with a team of 5 for
    the Swecha's Hackathon Event.
    </TimeLineElement>
    <TimeLineElement
      title="Amazon, Apprenticeship"
      subtitle="From July 2023 to July 2023"
    >
    Undergone training by renowned Machine Learning specialists at Amazon. 
    Learned the following ML concepts:
      Supervised Learning, Unsupervised Learning, Neural Network, Deep Learning and more
    </TimeLineElement>
  </div>

  <div class="mb-5">
    <div class="font-preigohead text-3xl w-full font-bold">Certifications</div>
  </div>

  <ul class="list-disc mx-6 mb-10 grid gap-2">
    <li>
      <a href="#" target="_blank"> Fundamentals of Deep Learning ▫️ Nvidia</a>
    </li>
    <li>
      <a href="#" target="_blank"> Data Analytics and Visualization Virtual Experience ▫️ Accenture
      </a>
    </li>
    <li>
      <a href="#" target="_blank"> Artificial Intelligence Algorithms Models and Limitations ▫️ Coursera
      </a>
    </li>
    <li>
      <a href="#" target="_blank"> Programming for Everybody ▫️ University of Michigan
      </a>
    </li>
    <li>
      <a href="#" target="_blank"> Artificial Intelligence Data Fairness and Bias ▫️  Coursera
      </a>
    </li>
  </ul>

  <div class="mb-5">
    <div class="font-preigohead text-3xl w-full font-bold">Skills</div>
  </div>

  <ul class="list-disc md:columns-5 columns-2 mx-6">
    <li>Python</li>
    <li>CPP</li>
    <li>Java</li>
    <li>SQL</li>
    <li>ReactJS</li>
    <li>TailwindCSS</li>
    <li>Strapi</li>
    <li>Scikit Learn</li>
    <li>Open CV</li>
    <li>NextJS</li>
    <li>PowerBI</li>
    <li>Tableau</li>
    <li>Git</li>
    <li>Linux</li>
    <li>AWS</li>
  </ul>

  <div class="my-5">
    <div class="font-preigohead text-3xl w-full font-bold">Interests</div>
  </div>

  <ul class="list-disc md:columns-3 columns-2 mx-6">
    <li>Reading about Finance</li>
    <li>Sports</li>
    <li>Contribution to Open Source</li>
    <li>Learning New Technologies</li>
  </ul>

</BaseLayout>
