---
import BaseLayout from "../layouts/BaseLayout.astro";
import TimeLineElement from "../components/cv/TimeLine.astro";
---

<BaseLayout title="Resume" sideBarActiveItemID="cv">

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Education</div>
  </div>

  <div class="time-line-container grid gap-4 mb-10">
    <TimeLineElement
      title="Bachelor of Technology in Computer Science(AI & ML)"
      subtitle="2020 to 2024 at CMR Institute of Technology, Medchal, Hyderabad"
    />
    <TimeLineElement
      title="PCM"
      subtitle="2018 to 2020 at Narayana Junior College, Secundrabad, Telangana"
    />
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Experience</div>
  </div>

  <div class="time-line-container mb-10">
    <TimeLineElement
      title="Full Stack Developer"
      subtitle="From January 2023 to August 2023 at DigiQuanta, Gachibowli, Telangana"
    >
    Led the revamping of the PARI website using React JS and Tailwind CSS, creating a modern and user-friendly interface. Additionally, I efficiently migrated over 120 pages of content from Wagtail to Strapi, enabling better content management and flexibility. Throughout the process, I successfully addressed various backend glitches, ensuring smooth functionality and data security for the website.
    </TimeLineElement>
    <!-- <TimeLineElement
      title="Job Title at Project or Company Name"
      subtitle="From [Start Date] to [End Date] at [Company], [City], [Country]"
    >
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident.
    </TimeLineElement>
    <TimeLineElement
      title="Job Title at Project or Company Name"
      subtitle="From [Start Date] to [End Date] at [Company], [City], [Country]"
    >
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident.
    </TimeLineElement> -->
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Certifications</div>
  </div>

  <ul class="list-disc mx-6 mb-10 grid gap-2">
    <li>
      <a href="#" target="_blank"> Fundamentals of Deep Learning (Nvidia)</a>
    </li>
    <li>
      <a href="#" target="_blank"> Data Analytics and Visualization Virtual Experience (Accenture)
      </a>
    </li>
    <li>
      <a href="#" target="_blank"> Artificial Intelligence Algorithms Models and Limitations (Coursera)
      </a>
    </li>
    <li>
      <a href="#" target="_blank"> Programming for Everybody (University of Michigan)
      </a>
    </li>
    <li>
      <a href="#" target="_blank"> Artificial Intelligence Data Fairness and Bias (Coursera)
      </a>
    </li>
    <li>
      <a href="#" target="_blank"> Programming for Everybody (University of Michigan)
      </a>
    </li>
  </ul>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Skills</div>
  </div>

  <ul class="list-disc md:columns-5 columns-2 mx-6">
    <li>Python</li>
    <li>C++</li>
    <li>Java</li>
    <li>SQL</li>
    <li>ReactJS</li>
    <li>TailwindCSS</li>
    <li>Strapi</li>
    <li>Scikit Learn</li>
    <li>Open CV</li>
    <li>NextJS</li>
    <li>PowerBI</li>
    <li>Tableau</li>
    <li>Git/Github</li>
    <li>Linux</li>
    <li>AWS</li>
  </ul>
</BaseLayout>
