---
import BaseLayout from "../layouts/BaseLayout.astro";
import HorizontalCard from "../components/HorizontalCard.astro";
import { getCollection } from "astro:content";
import "../styles/global.css";

const posts = (await getCollection("blog")).sort(
  (a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf()
);

const last_posts = posts.slice(0, 3);
---

<BaseLayout sideBarActiveItemID="home">
  <div class="text-neutral-200 font-preigotext pb-12 mt-5">
    <div class="text-xl py-1">Hey there 👋</div>
    <div class="font-preigohead text-5xl">I am Tanmay Pradhan</div>
    <div class="font-preigohead text-3xl py-3 font-bold">
      Undergraduate in Computer Science and Engineering
    </div>
    <div class="py-2">
      <text class="text-lg">
        I love to explore about technology mainly focused on Artificial
        Intelligence and Machine Learning. I support FOSS and love to contribute
        towards it.
      </text>
    </div>
    <!-- Have to style the button -->
    <div class="mt-8">
      <a
        class="middle none center rounded-lg bg-rose-500 py-3 px-6 font-preigohead text-md font-bold uppercase text-white shadow-md shadow-pink-500/20 transition-all hover:shadow-md hover:shadow-pink-500/40 focus:opacity-[0.85] focus:shadow-none active:opacity-[0.85] active:shadow-none disabled:pointer-events-none disabled:opacity-50 disabled:shadow-none"
        data-ripple-light="true"
        href="https://linktr.ee/tanmaypradhan_"
        target="_blank"
      >
        Lets Connect</a
      >
    </div>
  </div>

  <div>
    <div class="text-neutral-200 text-3xl w-full font-preigohead mb-2">
      My last projects
    </div>
  </div>

  <HorizontalCard
    title="Mental Health Chatbot : AURA"
    img="https://images.pexels.com/photos/17483868/pexels-photo-17483868/free-photo-of-an-artist-s-illustration-of-artificial-intelligence-ai-this-image-represents-how-machine-learning-is-inspired-by-neuroscience-and-the-human-brain-it-was-created-by-novoto-studio-as-par.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
    desc="Implemented a Chatbot leveraging Deep Learning and Natural Language Processing techniques, utilizing PyTorch and NLTK libraries. The primary objective was to educate teenagers about various Mental Health Disorders in an engaging and informative manner."
    url="https://github.com/tanmaypradhan4112/MentalHealthChatBot "
    badge="Latest"
  />
  <div class="divider my-0"></div>

  <HorizontalCard
    title="People Archive Rural of India"
    img="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Ftse4.mm.bing.net%2Fth%3Fid%3DOIP.91JNx9XuGUNEyOvWUOr_-AAAAA%26pid%3DApi&f=1&ipt=c9b123af820e3e41a816eb95f3d5cfa566d4f9d85b744b0c0285b4d8177183cd&ipo=images"
    desc="Revamped the People Archive Rural Of India (PARI) using ReactJS and TailwindCSS"
    url="https://beta.ruralindiaonline.org/"
    badge="Internship"
  />
  <div class="divider my-0"></div>

  <HorizontalCard
    title="Face Detection using Haar Cascade"
    img="https://media.licdn.com/dms/image/D5622AQF7VoLBGBJBdw/feedshare-shrink_800/0/1690376434010?e=1697068800&v=beta&t=yZy8G6zHD9bSe4eEkLM6RAxZPtzn1EI3I6dAp3Vd0aE"
    desc="Face Detection task is accomplished using a pre-trained model called Haar Cascade, which is natively provided by the OpenCV library"
    url="https://github.com/tanmaypradhan4112/opencv-Face-Detection"
    badge="New"
  />

  <div>
    <div class="text-neutral-200 text-3xl w-full font-preigohead mb-5 mt-10">
      Latest from blog
    </div>
  </div>

  {
    last_posts.map((post) => (
      <>
        <HorizontalCard
          title={post.data.title}
          img={post.data.heroImage}
          desc={post.data.description}
          url={"/blog/" + post.slug}
          target="_self"
          badge={post.data.badge}
        />
        <div class="divider my-0" />
      </>
    ))
  }
</BaseLayout>
