---
import BaseLayout from "../layouts/BaseLayout.astro";
import HorizontalCard from "../components/HorizontalCard.astro";
---

<BaseLayout title="Projects" sideBarActiveItemID="projects">
  <div>
    <div class="text-3xl w-full font-bold mb-5">
      Full Stack Developement Project
    </div>
  </div>

  <HorizontalCard
    title="People Archive Rural of India"
    img="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Ftse4.mm.bing.net%2Fth%3Fid%3DOIP.91JNx9XuGUNEyOvWUOr_-AAAAA%26pid%3DApi&f=1&ipt=c9b123af820e3e41a816eb95f3d5cfa566d4f9d85b744b0c0285b4d8177183cd&ipo=images"
    desc="Revamped the People Archive Rural Of India (PARI) using ReactJS and TailwindCSS"
    url="https://beta.ruralindiaonline.org/"
    badge="Internship"
  />
  <div class="divider my-0"></div>
  <HorizontalCard
    title="Illuminate 2023"
    img="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fi.ytimg.com%2Fvi%2FrnAOLeZMY_g%2Fmaxresdefault.jpg&f=1&nofb=1&ipt=76421581c29dfb76a0295f41f55689f319643fee73cd7d99cd529471cc422d1d&ipo=images"
    desc="Build a Website for college fest using HTML, CSS, JavaScript and Bootstrap"
    url="https://illuminate2k23.netlify.app/"
    badge="Contribution"
  />
  <div class="divider my-0"></div>
  <HorizontalCard
    title="REDI Hackathon"
    img="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Ftse2.mm.bing.net%2Fth%3Fid%3DOIP.B5969CAAxWIssvUAQpyZSAHaEK%26pid%3DApi&f=1&ipt=10491efb8f79d3ef25e4ea786b9502d25da45898b7baa1caf400a591822ac1f7&ipo=images"
    desc="Developed a REDI Hackathon Website for Swecha Organization. This website is now being used as a tempate website for futher events."
    url="https://redi.swecha.org/"
    badge="Contribution"
  />

  <div>
    <div class="text-3xl w-full font-bold mb-5 mt-5">AI & ML Project</div>
  </div>

  <HorizontalCard
    title="Face Detection using Haar Cascade"
    img="https://media.licdn.com/dms/image/D5622AQF7VoLBGBJBdw/feedshare-shrink_800/0/1690376434010?e=1694044800&v=beta&t=B0G_gLfsP181DUsHJpf5UW2A2FzOyc8Y9z5ZtSajlN4"
    desc="Face Detection task is accomplished using a pre-trained model called Haar Cascade, which is natively provided by the OpenCV library"
    url="https://github.com/tanmaypradhan4112/opencv-Face-Detection"
    badge="New"
  />
  <div class="divider my-0"></div>
  <HorizontalCard
    title="Alien Invasion"
    img="https://raw.githubusercontent.com/tanmaypradhan4112/Alien-Invasion/main/img/alien_invasion.png"
    desc="Build a shooting game called Alien Invasion using Pygame and Sprite"
  />
</BaseLayout>
