---
const today = new Date();
---

<footer class="bg-neutral-900 footer footer-center block mb-0 pt-10">
  <div class="font-preigotext text-base text-white pb-2">
    &copy; {today.getFullYear()} Tanmay Pradhan
  </div>
</footer>
<style>

</style>
