---
const { sideBarActiveItemID } = Astro.props;
const activeClass = "bg-neutral-600"; // For primary color replace with `active` class
---

<ul class="text-white font-preigotext menu grow shrink menu-md overflow-y-auto">
    <li><a class="py-3" id="home" href="/">Home</a></li>
    <li><a class="py-3" id="projects" href="/projects">Projects</a></li>
    <li><a class="py-3" id="blog" href="/blog/">Blog</a></li>
    <li><a class="py-3" id="cv" href="/cv">CV</a></li>
    <li><a class="py-3" id="portfolio-ai" href="/portfolio-ai">Portfolio AI</a></li>
</ul>

<script define:vars={{ sideBarActiveItemID: sideBarActiveItemID, activeClass: activeClass }}>
const activeItemElem = document.getElementById(sideBarActiveItemID);
activeItemElem && activeItemElem.classList.add(activeClass);
</script>
